<li>
	<%= link_to user.nom, user %>
	<% if current_user.admin? %>
	 |	<%= link_to "Delete", user, :method => :delete, 
								    :confirm => "Etes-vous certain?",
                              		:title => "Supprimer #{user.nom}" %>
	<% end %>
</li>
