<h1>Edition du profil</h1>

<%= form_for(@user) do |f| %>
    <%= render "fields", :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <div class="gravatar_edit">
    <%= gravatar_for @user %>
  </div>
  <a href="http://gravatar.com/emails">changer</a>
</div>