<% if !@feedList.nil? && !@feedList.empty?  %>
  <h3>Post de vos auteurs suivis: </h3>
   <% @feedList.each do |micropost| %>
   		<%= render micropost %>
   <% end %>
<% else %>
         <h3> Pas de post pour le moment. </h3>
<% end %>