<h1>Application Tutoriel</h1>

<p>
  C'est la page d'accuile pour l'application exemple du
  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
</p>
<% if !signed_in? %>
<table class="table">
<tr>
	<td><%= link_to "Se connecter!", signin_path, :class => "signup_button round" %></td>
	<td><%= link_to "S'inscrire!", signup_path, :class => "signup_button round" %></td>
</tr>
</table>
<% end %>